// color variables
$primary= #00BBD3
$secondary= #78AF3B
$tertiary= #1B6368

$header= #1B6368

$light-gray= rgba(0,0,0, 0.12)
$dark-gray= rgba(0,0,0, 0.26)


.App
  font-family: "Roboto", Helvetica, Arial, sans-serif
  text-align: center

body
  background: #F3F3F3

.Body
  width: 94%
  max-width: 800px
  height: 100%
  margin-top: 104px


*
  -webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  color: $tertiary
  margin-bottom: 0
  text-transform: capitalize

// text-align helper methods
.left
  text-align: left

.center
  text-align: center

.right
  text-align: right

// float helper methods
.float-right
  float: right

.float-left
  float: left

// margin helper methods
&.margin-bottom-small
  margin-bottom: 0.5em

&.margin-bottom-large
  margin-bottom: 3em

&.margin-top-large
  margin-top: 3em

// form input helpers
.Input
  vertical-align: top
  padding-right: 8px
  &.one-half
    width: 50% !important

  &.one-third
    width: (1/3 * 100)% !important

  &.one-quarter
    width: (1/4 * 100)% !important