.Dropdown
  background: transparent

  .mdl-textfield__label
    top: 5px

    i
      float: right
  
  select
    background: transparent
    border: none
    border-bottom: 1px solid $light-gray
    position: absolute
    top: 0
    left: 0
    width: 100%
    padding: 0
    color: $dark-gray

    &:focus
      border-bottom: 2px solid rgb(63,81,181)
      color: rgb(63,81,181)