.imageInputs
  display: flex
  justify-content: space-between
  width: 100%

  > div
    display: inline-block
    width: 30%
    max-width: 100px

.imageUploadInput
  width: 100%
  max-width: 100px
  height: 100px
  border: 0
  background: #fff
  
.placeholder
  position: absolute
  color: $secondary
  // &:disabled
  //   background: black