.TextInput
  &.mdl-textfield
    width: 100%
    max-width: 500px

//     .mdl-textfield__label
//       transition: top 200ms ease

//     &.is-dirty, &.is-focused
//       .mdl-textfield__label
//         visibility: inherit
//         top: 10px